/*
Form Style : Mustafa Omran
*/

*{
    padding: 0;
    margin: 0;
    font-family: myfont;
}

form{
    width: 60%;
    margin: 0 auto;
}

@font-face{
    font-family: myfont;
src:url(../fonts/BalooThambi-Regular.ttf);    
}